**/bgfx_shader.sh linguist-vendored
**/bgfx_compute.sh linguist-vendored

lib/include/** linguist-vendored

EngineTests/pch.* linguist-generated
Engine/src/modules/imgui/internal/* linguist-vendored

*.sh linguist-language=GLSL

*.sc linguist-language=GLSL
