**/bgfx_shader.sh linguist-vendored
**/bgfx_compute.sh linguist-vendored

lib/include/**/* linguist-vendored

EngineTests/pch.* linguist-generated
Engine/Modules/IMGUI/Internal/* linguist-vendored

*.sh linguist-language=GLSL

*.sc linguist-language=GLSL
