# Visual Studio files
/.vs
*.sln
*.vcxproj*

# CLion files
.idea

# Intermediaries
**/obj
**/bin

*.obj
!Demos/*/Resources/*.obj
*.idb
*.pdb

# Engine binaries
Engine.*.lib
Engine.*.dll

# Static assimp binaries
lib/assimps*.lib

# Utilities
.obsidian
imgui.ini
*.log

# Cmake generated
cmakebuild
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
cmake-build-debug
