# Visual Studio files
/.vs
*.sln
*.vcxproj*

# Intermediaries
**/obj
**/bin

*.obj
!Demos/*/Resources/*.obj
*.idb
*.pdb

# Engine binaries
Engine.*.lib
Engine.*.dll

# Static assimp binaries
lib/assimps*.lib

# Utilities
.obsidian
*.log